.dashboard {
	.main-scroller {
		padding: 0 @nice-spacing;

		button {
			.full-width;
			.button(@app-background-color);
		}

		section {
			.card();
			
			&.warning {
				border-top: 4px solid @warning-color;
			}
		}
	}

	.settings-slider {
		.grabbable-left-panel();
	}

	
}

.mpg-summary {
	.flex-container(row);

	min-height: 2em;

	.overview {
		.column(@card-background-color);
		.left;
		text-align: center;
		padding-right: @nice-spacing;

		.number {
			font-size: 2em;
			font-family: "lato hairline", sans;

			.whole {
				font-family: "lato light", sans;
			}
		}
	}

	.graph {
		flex: 1 1;
		.column(@card-background-color);
		.right;
		position: relative;

		.mileage-graph {
			position: absolute;
			left: @nice-spacing;
			right: 0;
			top: 0;
			bottom: 0;
		}
	}
}
